* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #e33333;
}


/*让button 按钮 变成小手*/

button {
    cursor: pointer;
}

button,
input {
    /*取消轮廓线 蓝色的*/
    outline: none;
}


/*清除浮动*/

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}