.de_container {
    margin-top: 15px;
}

.crumb_wrap a {
    margin-right: 5px;
    font-size: 14px;
}

.product_intro {
    margin-top: 15px;
}

.preview_wrap {
    width: 400px;
    height: 590px;
}

.preview_img {
    height: 398px;
    border: 1px solid #ccc;
}

.preview_list {
    position: relative;
    margin-top: 60px;
    height: 60px;
}

.list_item {
    width: 300px;
    height: 60px;
    margin: 0 auto;
}

.arrow_prev,
.arrow_next {
    position: absolute;
    top: 14px;
    width: 22px;
    height: 32px;
}

.arrow_prev {
    left: 0;
    background: url(../img/arrow-prev.png);
}

.arrow_next {
    right: 0;
    background: url(../img/arrow-next.png);
}

.list_item li {
    float: left;
    width: 56px;
    height: 56px;
    margin: 1px;
    border: 1px solid transparent;
}

.list_item li:hover {
    border: 1px solid red;
}

.itemInfo_wrap {
    width: 718px;
    background-color: greenyellow;
}